<h2>Edit Historical Landmark</h2>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label name="landmark_name">Name </label>
  <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">
  <br>
  <label name="landmark_year">Year </label>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>">

  <br>

  <h3>Titles</h3>

   <% Title.all.each do |title| %>
     <input id="title_<%= title.id %>" type="checkbox" name="title[title_ids][]" value="<%= title.id %>" <%='checked' if title.figures.include?(@figure) %>><%=title.name%></input><br>
   <% end %>

   <br>
   <h3>Create New Title:</h3>
   <input type="text" name="title[name]" id="new_title">
   <br>

   <h3>Figures</h3>

    <% Figure.all.each do |figure| %>
      <input id="figure_<%= figure.id %>" type="radio" name="figure[figure_ids][]" value="<%= figure.id %>" <%='checked' if figure == @figure %>><%=figure.name%></input><br>
    <% end %>

    <br>
    <h3>Create New Landmark:</h3>
    Name: <input type="text" name="figure[name]" id="new_landmark"> <input type="submit" value="Edit Landmark">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
