<h2>Create New Landmark</h2>
<form method="POST" action='/landmarks'>
<h2 label for="landmark_name">Name:</label></h2>
<input type="text" id="landmark_name" name="landmark[name]">
<h2 label for="landmark_year_completed">Name:</label></h2>
<input type="text" id="landmark_year_completed" name="landmark[year_completed]">

<h2>Titles</h2>

<% Title.all.each do |title| %>
    <label for="title_<%=title.id%>"><%= title.name %></label>
    <input id="title_<%=title.id%>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><br>
<% end %>

<h2>Create New Title:</h2>
<input type="text" id="new_title" name="title[name]">

<h2>Figures</h2>
<% Figure.all.each do |figure| %>
    <label for="figure_<%=figure.id%>"><%= figure.name %></label>
    <input id="figure_<%= figure.id %>" type="checkbox" name="landmark[figure_ids][]" value="<%= figure.id %>"><br>
<% end %>
<h2>Create New Figure:</h2>
<label for="figure[name]">Name:</label>
<input type="text" id="new_figure" name="figure[name]">

<button type="submit" id="Create New Landmark">Create New Landmark</button>
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
