<h1>Let's edit this NYC landmark figure</h1>

<form method="POST" action="/figures/<%= @figure.id %>">
    <input name="_method" value="patch" type="hidden" id="hidden">

    <h3>Figure name:</h3>
    <label for="figure_name">Figure name: </label>
    <input type="text" id="figure_name" name=figure[name] value="<%= @figure.name %>">
    <br>

    <h3>Figure titles:</h3>
    <% @titles.each do |title| %>
        <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>" <%='checked' if @figure.titles.include?(title) %>> <%= title.name %>
        <br>
    <% end %>

    <h3>Create a new title:</h3>
    <input type="text" name="title[name]" id="new_title">

    <h3>Landmarks:</h3>
    <% @landmarks.each do |landmark| %>
        <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark) %>> <%= landmark.name %>
    <% end %>    

    <h3>Create a new landmark:</h3>
    <label for="new_landmark">Landmark name:</label>
    <input type="text" name="landmark[name]" id="new_landmark">

    <label for="landmark_year">Year completed:</label>
    <input type="text" name="landmark[year_completed]" id="landmark_year">

    <button type="submit" value="Edit Figure">Edit Figure</button>

</form>