<h2>Edit Figure</h2>

<!-- add content here -->
<form action="/figures/<%= @figure.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">

<input type="text" id = "figure_name" name="figure[name]" placeholder = "<%=@figure.name%>">
<br>

<h3>Titles</h3>
  <% @titles.each do |title| %>
    <input type="checkbox" id = "title_<%= title.id %>" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %><br>
  <% end %>
<br>

<h3>Create New Title:<h3>
<input type="text" id = "new_title" name="title[name]" placeholder = "Enter title name">

<br>
<h3>Landmarks</h3>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" id = "landmark_<%= landmark.id %>" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %><br>
  <% end %>
<br>

<h3>Create New Landmark:<h3>
<input type="text" id = "new_landmark" name= "landmark[name]" placeholder = "Enter landmark name">
<br>
<input type="text" id = "landmark[year_completed]" name="landmark[year_completed]" placeholder = "Enter landmark completion date">
<input type="submit" id = "Edit Figure"value="Create New Figure">
</form>
<br>
<a class="button" href="/figures">figures</a>
<br>
<a class="button" href="/">Home</a>
