<h2>Edit Figure</h2>

<form action="/figures/<%= @figure.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label>
  <input id="figure_name" type="text" name="figure[name]" value="<%= @figure.name %>">
  <br>  
  <h3>Titles:</h3>
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id=title_<%= title.id %> value="<%= title.id %>" <%='checked' if @figure.titles.include?(title) %> ><%= title.name %></input><br>
  <% end %>
  <br>
  <h3>Create New Title:</h3>
  <input id="new_title" type="text" name="title[name]">
  <br> 
  <h3>Landmarks:</h3>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id=landmark_<%= landmark.id %> value="<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark) %> ><%= landmark.name %></input><br>
  <% end %>
  <br>
  <h3>Create New Landmark:</h3>
  Name: <input id="new_landmark" type="text" name="landmark[name]"> Year: <input id="year" type="text" name="landmark[year_completed]">
  <br> 
  <input type="submit" value="Edit Figure">
</form>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>