<h1>Edit <%= @figure.name %></h1>
<form action="/figures/<%= @figure.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <section>
    <label for="figure_name">Figure Name:</label>
    <input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name %>">
  </section>

  <section>
    <h3>Titles</h3>
    <% Title.all.each do |t| %>
      <br>
      <label><%= t.name %>
        <input type="checkbox" <%= "checked" if @figure.titles.include?(t)%> id=title_<%= t.id %> name="figure[title_ids][]" value="<%= t.id %>">
      </label>
    <% end %>
    <br>
  </section>

  <section>
    <h3>Landmarks</h3>
    <% Landmark.all.each do |l| %>
      <br>
      <label><%= l.name %>
        <input type="checkbox" <%= "checked" if @figure.landmarks.include?(l)%> id="landmark_<%= l.id %>" name="figure[landmark_ids][]" value="<%= l.id %>">
      </label>
    <% end %>
    <br>
    <h4>Create New Landmark</h4>
    <label for="new_landmark">Name:</label>
    <input type="text" id="new_landmark" name="landmark[name]">

    <label for="landmark_year">Year:</label>
    <input type="text" id="landmark_year" name="landmark[year_completed]">
  </section>
  <br>
  <section>
    <input type="submit" value="Edit Figure">
  </section>
</form>