<!DOCTYPE html>
<html>
  <head> 
    <title> Edit Figure </title>
  </head>
  
  <body> 
    <h1>Edit the figure: <%= @figure.name %></h1>
    <form method="POST" action="/figures/<%= @figure.id %>">
      <input id="hidden" type="hidden" name="_method" value="patch">   
      <label>Name:</label><input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>"><br><br>
    
      <label>Title(s):</label><br>
      <p>Choose from an Existing Title</p><br>
        <% @titles.each do |title| %>
          <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>">
          <%= title.name %>
        <br>
      <% end %><br>
      
      <p>and/or Create a New Title:</p><br>
      <label>Title:</label> <input type="text" name="title[name]" id="new_title"/>
      <br><br>
    
      <label> Landmark(s): </label><br>
      <p>Choose A Landmark</p><br>
      <% @landmarks.each do |landmark| %>
        <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark) %>>
        <%= landmark.name %>
        <br>
      <% end %><br>
      
      <p>Create a New Landmark:</p><br>
        <label for="new_landmark_name">Landmark Name: </label>
      <input type="text" name="landmark[name]" id="new_landmark"/>
      <label for="new_landmark_year">Year Completed: </label>
      <input type="text" name="landmark[year_completed]" id="year_completed">

  <input type="submit" value="Edit Figure">
      </form> 
  </body>
  
</html> 