<b> Update a Figure </b> <br> <br> <br> <br>

<form action="/figures/<%= @figure.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <b>Edit Name: </b> <input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name %>"> <br> <br> <br>

    <b>Edit Title(s): </b> <br> <br>
    Create a new title: <input type="text" id="figure_title" name="figure[title]"> <br> <br>

    Choose existing title(s) to edit: <br>
    <% @titles.each do |title| %>
        <input type="radio" name="figure[title_ids][]" id="<%= title.id %>" value="<%= title.id %>" <%='checked' if @figure.titles.include?(title) %>> <%= title.name %> <br>
    <% end %>
    <br>

    <b> Edit Landmark(s): </b> <br> <br>
    Create a new landmark: <stuff>

    Choose existing landmark(s) to edit: <br>
    <stuff> 




    
    <input type="submit" id="submit" value="Update Figure">
</form>
