<form action="/figures" method="post">
<!-- Name Input -->
    <h3>
      <label for="figure_name">Name:  </label>
      <input type="text" name="figure[name]" id="figure_name">
    </h3>

<!-- Titles checkboxes -->
    <h3>Titles:</h3>

    <% @titles.each do |title| %>
       <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>">
        <label for="title_<%= title.id %>"><%= title.name %></label>
        <br>
    <% end %>

<!-- Create New Titles Input -->
        <h3>
          <label for="new_title">Create New Title:  </label>
          <input type="text" name="title[name]" id="new_title">
        </h3>

<!-- Landmarks checkboxes -->
    <h3>Landmarks:</h3>

    <% @landmarks.each do |landmark| %>
       <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>">
        <label for="landmark_<%= landmark.id %>"><%= landmark.name %></label>
        <br>
    <% end %>

<!-- Create New Landmarks Input Name & Year Completed -->
    <h3>Create New Landmark:  </h3>

    <h3>
      <label for="new_landmark">Name:  </label>
      <input type="text" name="landmark[name]" id="new_landmark">
    </h3>

    <h3>
      <label for="new_year_completed">Year Completed:  </label>
      <input type="text" name="landmark[year_completed]" id="new_year_completed">
    </h3>

<!-- Create New Figure Submit Button -->
    <input type="submit" value="Create New Figure">
</form>
