<h1>Create a new Figure</h1>

<form action="/figures" method="POST">
  <label>Name:</label>
  <br>
  <input type="text" id="figure_name" name="figure[name]">

  <h3>Titles</h3>
  <% @titles.each do |title| %>
    <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %><br>
  <% end %>
  
  <h3>New Title</h3>
  
  <input type="text" id="new_title" name="title[name]">


  <h3>Landmarks</h3>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %><br>
  <% end %>
  
  <h3>New Landmark</h3>
  
  <input type="text" id="new_landmark" name="landmark[name]">
  

  
  <input type="submit" value="Create New Figure">
</form>