<h2>Create New Figure</h2>

<form action="/figures" method="POST">
<label>Add Figure</label>
<br>
<input type="text" name="figure[name]" id="figure_name">
<br>
<br>
<label>Add/Choose Title</label>
<br>
<input type="text" name="title[name]"  id="new_title">
<br>
<% @titles.all.each do |title| %>
    <label><%= title.name %></label>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.name %>" id="title_<%= title.id %>">
  <% end %>
<br>
<br>
<label>Add/Choose Landmark</label>
<br>
<input type="text" name="landmark[name]"  id="new_landmark">
<br>
<br>
<% @landmarks.all.each do |landmark| %>
  <label><%= landmark.name %></label>
  <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.name %>" id="landmark_<%= landmark.id %>">
<% end %>
<br>
<input type="submit" value="Create New Figure">
</form>
<br>
<a class="button" href="/figures">Figures</a>
<br>
<a class="button" href="/">Home</a>

