<h1>Create a New Figure</h1>

<form action="/figures" method="post">
  <label>Name </label>
  <input type="text" name="figure[name]" id="figure_name"><br>
  
  <br>
  <label>Title: </label><br>
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>">
    <%= title.name %>
  <% end %><br>

  <label>Create New Title: </label><br>
  <input type="text" name="figure[name]" id="figure_name"><br>
  
  <br><label>Landmarks</label><br>
  <br>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="landmark[title_ids][]" value="<%= landmark.id %>" id="title_<%= landmark.id %>">
    <%= landmark.name %>
    <br>
  <% end %><br>
  
  <label>Create New Landmark: </label><br>
  
  <br> <label>Name:</label>
  <input type="text" name="figure[name]" id="figure_name">
  
  <label>Year:</label>
  
  <input type="text" name="figure[name]" id="figure_name">
  <input type="submit" value="Create New Figure">
  
  
  
</form>