<h1>Create New Figure</h1>

<form action="/figures" method="post">
  <label>Name</label><input type="text" name="figure[name]" id="figure_name">
  <br><br><br>

  <label><strong>Titles</strong></label>
  <br><br>
  <% @titles.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id= "title_<%= title.id %>">
  <%= title.name%><br>
  <% end %>
  <br>

  <label=><strong>Create New Title:</strong></label><br><br>
  <input type="text" id= "new_title" name="title[name]"><br>
  <br>

  <label><strong>Landmarks</strong></label><br><br>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>"><%= landmark.name %><br>
  <% end %><br>

  <label><strong>Create New Landmark:</strong></label><br><br>

  <label>Name:</label>
  <input type="text" id="new_landmark" name="landmark[name]" >

  <label>Year</label>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]">
  <input type="submit" value="Create New Figure">

</form>

<br><br>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
