<!DOCTYPE html>
<html>
    <head>
        <title>Create a new Figure</title>
    </head>
    <body>
    <h2>Create A New Figure</h2><br>
    <br>
    <form action="/figures" method="post" >
        <p>Name:<input id="figure_name" type="text" name="figure[name]"><br>
        <br>
        <b>Titles:</b><br>
        <% @titles.each do |title| %>
            <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %><br>
        <% end %>
        <br>
        <b>Create New Title:</b><br>
            Name:<input id="new_title" type="text" name="title[name]"><br>
        <br>
        <b>Landmarks:</b><br>
        <% @landmarks.each do |landmark| %>
            <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %><br>
        <% end %>
        <br>
        <b>Create New Landmark:</b><br>
            Name:<input id="new_landmark" type="text" name="landmark[name]"><br>
            Year:<input id="landmark_year" type="text" name="landmark[year]"><br>
        <input type="submit" value="Create New Figure">
        </p>
    </form>
    </body>
</html>