
<h1>Do Stuff, Make THings.</h1>
<form action="/figures" method="POST">
    <label>Figure Name</label>
        <input type="text" name="figure[name]" id="figure_name"><br><br>
    <label>Title</label>
        <%@titles.each do |title|%>
        <li><input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%></li>
        <%end%><br>
    <em> Create a New Title:</em>
        <label>Title:</label><input type="text" name="title[name]" id="new_title"><br><br>
    <label>LANDMARKS</label>
        <%@landmarks.each do |landmark|%>
        <li><input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"><%=landmark.name%></li>
        <%end%><br>
    <em>Create a New Landmark:</em>
        <label>Landmark Name:</label><input type="text" name="landmark[name]" id="new_landmark"><br><br>
        <label>Landmark Year Completed:</label><input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br><br>
<input type="submit" value="Create New Figure">
</form>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
