<form action="/figures" method="post">
  <label for="figure_name">Name</label>
    <input type="text" name="figure[name]" id="figure_name">
    <br>
    <br>

  <h3><label for="title_name">Titles</label></h3>

    <!-- iterate through each title to list it out -->
    <% @titles.each do |title| %>
      <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>">
      <%=title.name%>
      <br>
    <% end %>
    <br>

    <!-- create a new title if you don't see the option you want above -->
  <h3><label for="new_title">Create New Title:</label></h3>
    <input type="text" name="title[name]" id="title_name">

  <h3><label for="landmarks">Landmarks</label></h3>


    <!-- Landmarks listed -->
    <% @landmarks.each do |landmark| %>
      <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>">
      <%=landmark.name%>
      <br>
    <% end %>
    <br>

    <!-- create a new landmark if you don't see the option you want above -->
  <h3><label for="new_landmark">Create New Landmark:</label></h3>
  <label for="landmark_name">Name:</label>
    <input type="text" name="landmark[name]" id="landmark_name">
  <label for="landmark_year">Year:</label>
    <input type="text" name="landmark[year]" id="landmark_year">


  <input type="submit" value="Create New Figure">

</form>
