<form action="/figures" method="POST">
    
    <h1>Figure Name</h1>
    <input type="text" name="figure[name]" id="name"><br>

    <h1>Title</h1>
    <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="<%= title.id %>" value="<%= title.id%>" <%= "checked" if @figures.titles.include?(title) %>><%= title.name %></input><br>
    <% end %>
    
    <h1>Landmarks</h1>
    <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="<%= landmark.id %>" value="<%= landmark.id%>" <%= "checked" if @figures.landmarks.include?(landmark) %>><%= landmark.name %></input><br>
    <% end %>

    <input type="submit" value="Create">



</form>