<form action="/figures" method="POST">
  <label name="figure[name]">Name </label>
  <input type="text" name="figure_name">

  <br>

  <h3>Titles</h3>

   <% Title.all.each do |title| %>
     <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%=title.name%></input><br>
   <% end %>

   <br>
   <h3>Create New Title:</h3>
   <input type="text" name="title[name]" id="new_title">
   <br>

   <h3>Landmarks</h3>

    <% Landmark.all.each do |landmark| %>
      <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%=landmark.name%></input><br>
    <% end %>

    <br>
    <h3>Create New Landmark:</h3>
    Name: <input type="text" name="landmark[name]" id="new_landmark"> Year:<input type="text" name="landmark[year_completed]">  <input type="submit" value="Create New Figure">
</form>
