<h1>Create A New Figure</h1>
<br>
<form action="/figures" method="POST">
    
    <label for=new_figure>Figure Name :</label><br>
    <input type="text" name="figure[name]" id="name"><br>

    <h1>Titles</h1>
    <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="<%= title.name %>" value="<%= title.id%>"><%= title.name %><br>
    <% end %>
    <br>    
    <label for=title_name>Create a New Title :</label><br>
    <input type="text" name="title[name]" id="title_name"><br>
    <br>
    <h1>Landmarks</h1>
    <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="<%= landmark.name %>" value="<%= landmark.id%>"><%= landmark.name %><br>
    <% end %>
    <br>    
    <label for=landmark_name>Create a New Landmark :</label><br>
    <input type="text" name="landmark[name]" id="landmark_name"><br>
    <br>    
    <input type="submit" value="Create New Figure">



</form>