<h2>Create New Figure</h2>
<form method="POST" action="/figures">
<p>Figure Name: <input type="text" name="figure[name]" id="figure_name"></p>
<br>

<%@titles.each do |title|%>
<p><%=title.name%><input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"></p>
<%end%>

<br>
<p>Create New Title: <input type="text" name="title[name]"></p>
<br>

<%@landmarks.each do |landmark|%>
<p><%=landmark.name%><input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"></p>
<%end%>

<br>
<p>Create New Landmark: </p>
<p>Landmark name:<input type="text" name="landmark[name]"></p>
<p>Year Completed: <input type="text" name="landmark[year]"></p>

<input type="submit" value="Create New Figure">
</form>




<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>