<h1>Create a new Figure</h1>

<form action="/figures" method="POST">
    <label for="figure_name">Name:</label>

    <br>
    <input type="text" name="figure[name]" id="figure_name">
    <br>
    <p>Select an existing title or create a new one below.</p>
    <h3>Existing Titles</h3>
    <% @titles.each do |title| %>
        <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>"><%= title.name %>
        <br>
    <% end %>

    <br><br>

    and/or, create a new title:
    <h3>New Title</h3>
  <label for="new_title">Title Name: </label>
  <br>
      <input  type="text" name="title[name]" id="new_title"></input>
    <br>
    
    <p>Select an existing landmark or create a new one below.</p>
    <h3>Existing Landmarks</h3>
    <% @landmarks.each do |landmark| %>
        <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>"><%= landmark.name %>
        <br>
    <% end %>

    <br><br>
    
    and/or, create a new landmark:
    <h3>New Landmark</h3>
  <label for="new_landmark">Landmark Name: </label>
  <br>
      <input  type="text" name="landmark[name]" id="new_landmark"></input>
    <br>
    
    <input type="submit" value="Create New Figure">

</form>