<h2><%= @figure.name %></h2>

<h3>Landmarks</h3>
  <%@figure.landmarks.each do |landmark|%>
    <ul>
      <li><%= landmark.name %>, completed in <%= landmark.year_completed %></li>
    </ul>
    <%end%>

<p>
<h3>Titles</h3>
  <%@figure.titles.each do |title|%>
  <ul>
    <li><%= title.name %></li>
  </ul>
  <%end%>
</p>

<p>
<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
</p>
