<h1>Person Name</h1>

<h3><a href="/figures/<%=@figure.id%>"><%= @figure.name %></a></h3><br>

<ul>
<h3>Landmarks:</h3>

<%@figure.landmarks.each do |landmark|%>

<li><%=landmark.name%></li>
<% end %>
</ul>

<ul>
  <h3>Titles:</h3>
  <%@figure.titles.each do |title| %>
    <li><%= title.name %></li>
    <% end %>
</ul>

<br>
<a class="button" href="/">Home</a>
<br><br>
<a class="button" href="/figures/<%=@figure.id%>/edit">Click to Edit a Figure</a>
