<table>
  <th>Person Name</th>
  <tr>
      <td align="left"><a href="/figures/<%= @figure.id %>"><%= @figure.name %></a>
      <ul>
      <u>Landmarks:</u>
        <%@figure.landmarks.each do |landmark|%>
        <li><%=landmark.name%></li>
        <%end%>
      </ul>
      <ul>
      <u>Titles:</u>
        <%@figure.titles.each do |title|%>
        <li><%=title.name%></li>
        <%end%>
      </ul>
  </tr>
      </td>
</table>
<br>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit</a><br>
<a class="button" href="/figures">Figures</a><br>
<a class="button" href="/">Go Home</a><br>
